<div class="container" (window:resize)="onResize($event)" *ngIf="userName!='na'">
    <div class="header">
        <div class="title"><h1>Epiroc 
            <span *ngIf="disButton">Territory Management</span>
            <span *ngIf="!disButton">TTM</span>
        </h1></div>
        <div class="user" (click)="logout()" *ngIf="userName"><mat-icon class="faceIcon" *ngIf="disButton">account_circle</mat-icon><p>{{userName}}</p></div>
    </div>
    <div class="center">
        <div class="img">
            
        </div>
        <div class="main">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>